body{
    background-color: darkslategray;
}

.login-welcome-message{
    font-family: Arial;
    color: white;
    padding-top: 2rem;
    text-align: center;

}

.motto-message{
    font-family: Arial;
    color: white;
    padding-top: 2rem;
    text-align: center;
    
}

.connect-message{
    font-family: Arial;
    color: white;
    padding-top: 0rem;
    text-align: center;
    
}

.button-menu{

    color:white;
    background-color: #04AA6D;
    border-radius: 30px;
    border: none;
    padding: 20px 60px;
    font-size: 1rem;
    transition-duration: 0.4s;

}


.navigation-bar{

    background-color: aquamarine;
    color: white;
    align-items: normal;


}

.menu{
    position: relative;
    float: left;
    
}

#menu-trans {
    position: absolute;
  overflow: hidden;
  height: 0;
  opacity: 0;
  transition: height .3s ease, opacity .2s ease;
  background: #f1f1f1;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0,0,0,.2);
}
#menu-trans.is-open { opacity: 1; }

.menu-open a{
    color:black;
    padding: 12px 45px;
    text-decoration: none;
    display: block;
    padding-left: 20 rem;
    border-radius: 15px;
    transition: 0.3s;
}



.menu-open a:hover {
    background-color: #ddd;
}
/* .menu:hover .menu-open{
    display: block;

} */
.menu:hover .button-menu{
    background-color: #3e8e41;
    border-radius: 10px;
}

.login-button{
    color:white;
    background-color: #0E2E2E;
    border-radius: 30px;
    border: none;
    float: right;
    text-decoration: none;
    padding: 20px 60px;
    font-size: 1rem;
    transition-duration: 0.4s;

}

.loginbt:hover .login-button{
        background-color: #3e8e41;
        border-radius: 10px;
}

.news-button{
    color:white;
    background-color: #04AA6D;
    border-radius: 30px;
    border: none;
    float: left;
    padding: 20px 60px;
    font-size: 1rem;
    transition-duration: 0.4s;  

}

.newsbt:hover .news-button{
        background-color: #3e8e41;
        border-radius: 10px;
}

.home-button{
    color:white;
    background-color: #3e8e41;
    border-radius: 10px;
    border: none;
    float: left;
    padding: 20px 60px;
    font-size: 1rem;

}

.img_login_phone{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2px;
    width: 500px;
    height: auto;
    border-radius:20px 20px;
}

.border_navigation{

    border-color: white;
    border: 100px 200px;
    display: none;
}